#appname {
  margin-right: 120vh;
}

#submit {
  position: absolute;
  margin-top: 350px;
  left:50%;
}

.navbar {
  display: flex;
  position: relative;
  height: 75px;
  align-items: center;
  background-color: grey;
  max-width: 1024px;
  margin: 0 auto;
}

.navbar .logo {
  flex: 2;
  margin-left: 10px;
}

.navbar ul {
  flex: 1;
  padding-left: 0;
  position: absolute;
  right: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.homepage-container {
   text-align: center;
}

.bar-results {
  display: flex;
}

.bar-results .bar-card {
  flex: 1;
}

.bar-results .bar-card ul{
  list-style: none;
  padding-left: 0;
}

.randomizer {
  flex: 1;
  text-align: center;
}

.saved-bar-info {
  display: flex;
  align-items: flex-end;
}

.saved-bar-info ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  flex: 1;
}

.form-container {
  text-align: center;
}

.form-button {
  margin-top: 20px;
}

@media screen and (max-width:600px) {

  .navbar ul li {
  display: inline-block;
  margin-right: 10px;
}
  .bar-results {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.bar-card {
  flex: 5;
  text-align: center;
  list-style: none;
  display: block;
}

.bar-results .bar-card ul{
  list-style: none;
  padding-left: 0;
}

.saved-bar-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}

